<h1>Edit Topping</h1>

<%= render "form", topping: @topping %>

<div class="actions">
    <%= link_to "Cancel", @topping, class: "btn btn-secondary" %>
    <%= link_to "Back to Toppings", toppings_path, class: "btn btn-back" %>
</div>